body
{
    background-color: #6A4A3C;
}
.rounded
{
    border-radius: 5px;
    background-color: #fff;
}
.withPad
{
    margin:5px;
    padding: 5px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.yellow
{
    color: #EDC951 ;
}
.orange
{
    color: #EB6841;
}
.green
{
    color: #5cb85c;
}
.blue
{
    color: #00A0B0;
}
.pink
{
    color: #CC333F;
}
.bgd-orange
{
    margin-bottom: 50px;
    background-color: #EB6841;
    color: white;
}
.bgd-green
{
    margin-bottom: 50px;
    background-color: #5cb85c;
    color: white;
}
