body
{
    background-color: #6A4A3C;
}
.rounded
{
    border-radius: 5px;
    background-color: #fff;
}
.withPad
{
    margin:5px;
    padding: 5px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.grey
{
    color: #C8C8C8 ;
}
.orange
{
    color: #f0ad4e;
}
.green
{
    color: #5cb85c;
}
.bgd-orange
{
    margin-bottom: 50px;
    background-color: #f0ad4e;
    color: white;
}
.bgd-green
{
    margin-bottom: 50px;
    background-color: #5cb85c;
    color: white;
}
